.box {
    width: 1951px;
    height: 1694px;
  }
  
  .box .riwayat-pemesanan {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .box .overlap {
    position: relative;
    width: 100%;
    height: 1694px;
    left: 31px;
    background-image: url(./img/rectangle-60.png);
    background-size: 100% 100%;
  }
  
  .box .dashboard-navigation {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 12px;
    position: absolute;
    top: 383px;
    left: 297px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e6e6e6;
  }
  
  .box .heading {
    display: inline-flex;
    align-items: flex-start;
    padding: 24px 0px 16px 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .navigation {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #191919;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .box .account-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .dashboard {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .box .text-wrapper {
    position: relative;
    width: 238px;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #191919;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .box .div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: #d9d9d9;
  }
  
  .box .dashboard-2 {
    position: relative;
    width: 238px;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .box .overlap-group {
    position: absolute;
    width: 1920px;
    height: 530px;
    top: 1164px;
    left: 0;
  }
  
  .box .footer {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .box .subscribe-our {
    position: relative;
    width: 1920px;
    height: 162px;
    background-color: #f7f7f7;
  }
  
  .box .frame {
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 40px;
    left: 300px;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .box .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #191919;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .box .p {
    position: relative;
    width: 448px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }
  
  .box .subscribe {
    position: absolute;
    width: 536px;
    height: 52px;
    top: 55px;
    left: 860px;
  }
  
  .box .overlap-group-2 {
    position: relative;
    height: 52  px;
  }
  
  .box .input-field {
    width: 492px;
    padding: 14px 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 46px;
    border: 1px solid;
    border-color: #e6e6e6;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #7f7f7f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .box .button {
    all: unset;
    box-sizing: border-box;
    gap: 16px;
    padding: 16px 40px;
    position: absolute;
    top: 0;
    left: 374px;
    background-color: #00b206;
    border-radius: 43px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .box .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .box .frame-2 {
    gap: 8px;
    position: absolute;
    top: 61px;
    left: 1436px;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .box .social-media {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .box .footer-2 {
    justify-content: center;
    gap: 60px;
    padding: 60px 300px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: #191919;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .box .fotter {
    position: relative;
    width: 1248px;
    height: 168px;
  }
  
  .box .company {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 2px;
    left: 0;
  }
  
  .box .logo {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .plant {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
  .box .group {
    position: relative;
    height: 29px;
    top: 1px;
    background-image: url(./img/image.png);
    background-size: 100% 100%;
  }
  
  .box .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.96px;
    line-height: 38px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-5 {
    position: relative;
    width: 336px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #7f7f7f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }
  
  .box .CTA {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .div-wrapper {
    all: unset;
    box-sizing: border-box;
    gap: 10px;
    padding: 6px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: #191919;
    box-shadow: 0px 1.5px 0px #20b426;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .box .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-7 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #7f7f7f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .box .my-account {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 448px;
  }
  
  .box .text-wrapper-8 {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .box .links {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .text-wrapper-9 {
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .box .text-wrapper-10 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .help {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: 0;
    left: 672px;
  }
  
  .box .proxy {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 897px;
  }
  
  .box .categories {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 1120px;
  }
  
  
  .box .text-wrapper-12 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #7f7f7f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .frame-3 {
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .box .div-2 {
    position: relative;
    width: 45px;
    height: 31.76px;
    background-color: #191919;
    border-radius: 5.29px;
    border: 1px solid;
    border-color: #333333;
  }
  
  .box .apple-pay {
    position: relative;
    width: 32px;
    height: 14px;
    top: 8px;
    left: 6px;
  }
  
  .box .visa-logo {
    position: relative;
    width: 32px;
    height: 10px;
    top: 10px;
    left: 5px;
  }
  
  .box .discover {
    position: relative;
    width: 40px;
    height: 19px;
    top: 11px;
    left: 3px;
  }
  
  .box .stripe {
    position: relative;
    width: 25px;
    height: 8px;
    top: 11px;
    left: 15px;
  }
  
  .box .o-wrapper {
    position: relative;
    width: 38px;
    height: 7px;
    top: 0;
    left: 0;
    background-image: url(./img/DISC-VER.svg);
    background-size: 100% 100%;
  }
  
  .box .o {
    position: relative;
    width: 6px;
    height: 7px;
    top: 0;
    left: 17px;
  }
  
  .box .mastercard {
    position: relative;
    width: 30px;
    height: 18px;
    top: 6px;
    left: 7px;
    background-image: url(./img/left.svg);
    background-size: 100% 100%;
  }
  
  .box .overlap-group-3 {
    position: relative;
    width: 18px;
    height: 18px;
    left: 12px;
  }
  
  .box .right {
    position: absolute;
    width: 15px;
    height: 18px;
    top: 0;
    left: 3px;
  }
  
  .box .middle {
    position: relative;
    width: 100%;
    height: 13px;
    top: 2px;
    left: 0;
  }
  
  .box .cart {
    position: relative;
    width: 69px;
    height: 32px;
    margin-right: -4.00px;
  }
  
  .box .overlap-2 {
    position: relative;
    width: 65px;
    height: 32px;
    background-color: #191919;
    border-radius: 5.29px;
    border: 1px solid;
    border-color: #333333;
  }
  
  .box .lock {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 3px;
    left: 4px;
    background-color: #191919;
  }
  
  .box .img {
    position: absolute;
    width: 9px;
    height: 10px;
    top: 0;
    left: 1px;
  }
  
  .box .text-wrapper-13 {
    position: absolute;
    top: 3px;
    left: 17px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 11px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-14 {
    position: absolute;
    width: 65px;
    top: 15px;
    left: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12px;
  }
  
  .box .rectangle {
    height: 169px;
    top: 0;
    background-color: #d9d9d9;
    position: absolute;
    width: 1500px;
    left: 0;
  }
  
  .box .rectangle-2 {
    height: 361px;
    top: 169px;
    background-color: #ffffff;
    position: absolute;
    width: 1920px;
    left: 0;
  }
  
  .box .overlap-3 {
    position: absolute;
    width: 1920px;
    height: 135px;
    top: 0;
    left: 0;
  }
  
  .box .midle {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 93px;
  }
  
  .box .navigation-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -1px;
    background-color: #ffffff;
  }
  
  .box .small-one {
    display: flex;
    width: 1920px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 300px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px #e5e5e5;
  }
  
  .box .midle-2 {
    position: relative;
    width: 1920px;
    height: 93px;
  }
  
  .box .search {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 24px;
    left: 711px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #e6e6e6;
  }
  
  .box .searech {
    display: flex;
    width: 400px;
    align-items: center;
    gap: 8px;
    padding: 12px 18px 12px 16px;
    position: relative;
  }
  
  .box .chevron-down {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .box .group-2 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
  }
  
  .box .search-2 {
    position: relative;
    width: 400px;
    margin-top: -0.50px;
    margin-right: -62.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #7f7f7f;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 21px;
  }
  
  .box .button-2 {
    all: unset;
    box-sizing: border-box;
    gap: 12px;
    padding: 14px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #a38f85;
    border-radius: 0px 6px 6px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .box .text-wrapper-15 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16.8px;
    white-space: nowrap;
  }
  
  .box .icons {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 30px;
    left: 1429px;
  }
  
  .box .devider {
    position: relative;
    width: 1px;
    height: 24px;
    object-fit: cover;
  }
  
  .box .shopping-card {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .cart-2 {
    position: relative;
    width: 34px;
    height: 34px;
    background-image: url(./img/bag.svg);
    background-size: 100% 100%;
  }
  
  .box .info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .shopping-cart {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4c4c4c;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 13.2px;
    white-space: nowrap;
  }
  
  .box .nav-links {
    display: flex;
    width: 1920px;
    justify-content: space-between;
    padding: 16px 300px;
    background-color: #a38f85;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .nav-links-2 {
    display: inline-flex;
    justify-content: flex-end;
    gap: 31px;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .nav-links-3 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .chevron-down-2 {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .box .overlap-wrapper {
    position: absolute;
    width: 472px;
    height: 95px;
    top: 40px;
    left: 26px;
  }
  
  .box .overlap-4 {
    position: relative;
    width: 470px;
    height: 95px;
  }
  
  .box .text-wrapper-16 {
    position: absolute;
    top: 29px;
    left: 82px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #002602;
    font-size: 32px;
    letter-spacing: -0.96px;
    line-height: 38px;
    white-space: nowrap;
  }
  
  .box .logo-2 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .box .breadcrumbs {
    position: absolute;
    width: 1920px;
    height: 120px;
    top: 188px;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  
  .box .location {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    top: 48px;
    left: 300px;
  }
  
  .box .group-3 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    left: 3px;
  }
  
  .box .img-2 {
    position: relative;
    width: 5.08px;
    height: 9.17px;
  }
  
  .box .home {
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .box .vegetables {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-right: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #00b206;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .box .order-history {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  
  .box .overlap-5 {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 150px auto 0 auto; /* Geser ke bawah */
    padding: 20px;
    box-sizing: border-box;
    z-index: 1; /* pastikan lebih rendah dari header */
  }
  
  
  
  
  
  .box .pagination {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 800px;
    left: 700px;
  }
  
  .box .chevron-down-wrapper {
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f2f2f2;
    border-radius: 500px;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .box .frame-4 {
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .box .frame-5 {
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #a38f85;
    border-radius: 130px;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .box .text-wrapper-17 {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -1.00px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .box .frame-6 {
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 130px;
    display: inline-flex;
    align-items: flex-start;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    -ms-border-radius: 130px;
    -o-border-radius: 130px;
}
  
  .box .text-wrapper-18 {
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #666666;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -1.00px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .box .img-wrapper {
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 500px;
    border: 1px solid;
    border-color: #e6e6e6;
    transform: rotate(180deg);
    display: inline-flex;
    align-items: flex-start;
  }
  
  .box .chevron-down-3 {
    transform: rotate(-180deg);
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .box .order-history-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 400px;
    left: 250px;
  }
  
  .box .order-history-3 {
    position: relative;
    width: 936px;
    height: 45px;
  }
  
  .box .frame-7 {
    position: absolute;
    top: 12px;
    left: 0;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .box .text-wrapper-19 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .element-sep {
    position: absolute;
    top: 11px;
    left: 176px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .element-products {
    position: absolute;
    top: 11px;
    left: 400px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .span {
    font-weight: 500;
  }
  
  .box .text-wrapper-20 {
    font-family: "Poppins-Regular", Helvetica;
  }
  
  .box .processing {
    position: absolute;
    top: 11px;
    left: 668px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-21 {
    position: absolute;
    top: 11px;
    left: 850px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #a38f85;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .box .overlap-group-wrapper {
    position: absolute;
    width: 992px;
    height: 36px;
    top: 62px;
    left: 0;
  }
  
  .box .overlap-group-4 {
    position: relative;
    width: 984px;
    height: 36px;
    top: 350px;
    left: 230px;
    background-color: #f2f2f2;
  }
  
  .box .order-ID {
    position: absolute;
    top: 12px;
    left: 24px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #4c4c4c;
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 12px;
    white-space: nowrap;
  }
  
  .box .tanggal {
    position: absolute;
    top: 12px;
    left: 200px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #4c4c4c;
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 12px;
    white-space: nowrap;
  }
  
  .box .total {
    position: absolute;
    top: 12px;
    left: 424px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #4c4c4c;
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 12px;
    white-space: nowrap;
  }
  
  .box .status {
    position: absolute;
    top: 12px;
    left: 692px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #4c4c4c;
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 12px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-22 {
    position: absolute;
    top: 16px;
    left: 24px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #191919;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }

  